*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #2C73D2;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.flex-container{
    border: 1em solid #f9f878;
    display: flex;
    width: 800px;
    margin: 0 auto;
    width: 80%;
    /* flex-wrap: wrap; */
    align-content: flex-start;
}

.flex-item{
    background-color: rgba(0, 255, 0, .3);
    padding: 1em;
    margin: 1em;
    /* max-width: 800px; */
}

.flex-item-1{
    background-color: plum;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    flex-basis: 500px;
}
.flex-item-2{
    background-color: rgba(0, 255, 0, .7);;
    /* flex-grow: 2; */
}
.flex-item-3{
    background-color: rgba(0, 255, 0, .4);;
    /* flex-grow: 5; */
}